<%- include('./header', {}) %>

<link href="/css/<%= _name %>.css" rel="stylesheet"/>
<script src="/js/<%= _name %>.js"></script>

<title><%= _title %></title>
</head>
<body>

<%- include('./navi', { _title: _title }) %>

<div style="padding-top: 100px;">
<%= _title %>
</div>

<%- include('./links', { _links: _links }) %>

<%- include('./footer', {}) %>
