<%- include('./header', {}) %>

<link href="/css/<%= _name %>.css" rel="stylesheet"/>
<script src="/js/<%= _name %>list.js"></script>

<title><%= _appname + " - " + _title %></title>
</head>
<body>

<%- include('./navi', { _appname: _appname, _title: _title }) %>

<div style="padding-top: 100px;">
  <bx-data-table>
    <bx-table>
      <bx-table-head>
        <bx-table-header-row>
          <bx-table-header-cell>#</bx-table-header-cell>
          <bx-table-header-cell>name</bx-table-header-cell>
        </bx-table-header-row>
      </bx-table-head>
      <bx-table-body>
<% for( var i = 0; i < _records.length; i ++ ){ %>
        <bx-table-row>
          <bx-table-cell><a href="/<%= _name.substr( 0, _name.length - 1 ) %>/<%= _records[i].id %>"><%= _records[i].id %></a></bx-table-cell>
          <bx-table-cell><a href="/<%= _name.substr( 0, _name.length - 1 ) %>/<%= _records[i].id %>"><%= _records[i].name %></a></bx-table-cell>
        </bx-table-row>
<% } %>
      </bx-table-body>
    </bx-table>
  </bx-data-table>
</div>

<%- include('./footer', {}) %>
